Repository aneeshkodali/cnatra-lms, pull requests merged in 2021-04, with the labels that each got.

#17 Make separate request to get grade_sheet maneuvers (#9)
  server/code/app.py
  server/code/resources/grade_sheet_maneuvers.py
  server/code/resources/grade_sheets.py
Labels: routes, server

#18 Add Table Fields and Rename Routes (#9)
  server/code/app.py
  server/code/models/grade_sheets.py
  server/code/models/users.py
  server/code/resources/grade_sheets.py
  server/code/resources/students.py
  server/code/resources/users.py
  server/code/seed/grade_sheets.py
  server/code/seed/users.py
Labels: database, routes, server

#20 Add route to return all maneuvers for stage (#9)
  server/code/app.py
  server/code/resources/maneuver_item_files.py
Labels: routes, server

#22 GradeComparison development + Clean up + Documentation
  README.md
  frontend/README.md
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/Components/Academics.js
  frontend/src/Components/Grading/EventForm.js
  frontend/src/Components/Grading/GradeComparison.js
  frontend/src/Components/Grading/Grades.js
  frontend/src/Components/Grading/Gradesheet.js
  frontend/src/Components/Grading/Maneuver.js
  frontend/src/Components/Grading/ManeuversForm.js
  frontend/src/Components/Grading/MockData/mockGradesheetData.js
  frontend/src/Components/Grading/MockData/mockStudentData.js
  frontend/src/Components/Grading/MockData/nonFlightMockData.js
  frontend/src/Components/Grading/NavGradesheets.js
  frontend/src/Components/Grading/StageNav.js
  frontend/src/Components/Grading/TextOrInput.js
  frontend/src/Components/Grading/stageGradeConfig.js
  frontend/src/Components/Home.js
  frontend/src/Components/Login.js
  frontend/src/Components/Logout.js
  frontend/src/Components/Navigation/InstructorSidebarData.js
  frontend/src/Components/Navigation/NavigationBar.js
  frontend/src/Components/Navigation/SubNavigation.js
  frontend/src/Components/Settings.js
  frontend/src/Components/Utils/Loading.js
  frontend/src/Components/Utils/findGradesheet.js
  frontend/src/Components/Utils/findStage.js
  frontend/src/Routes.js
  frontend/src/Store/eventsInStage.js
  frontend/src/Store/grades.js
  frontend/src/Store/index.js
  frontend/src/Store/navigation.js
  frontend/src/Store/stages.js
  frontend/src/Store/students.js
  frontend/src/Store/users.js
  server/code/app.py
Labels: documentation, enhancement, frontend
